
.vs/MapacheBigoton/FileContentIndex/844e5833-2581-4e15-ac32-c362160760e5.vsidx
.vs/MapacheBigoton/FileContentIndex/a8ff07df-475b-46c0-a223-230f1ad1a5c5.vsidx
.vs/MapacheBigoton/FileContentIndex/f353e7f8-f543-430d-8074-0b55b944369a.vsidx
.vs/MapacheBigoton/FileContentIndex/f98d330a-5c4f-48f7-bdbb-7e1ce96942ee.vsidx
.vs/MapacheBigoton/v17/.futdcache.v2
.vs/MapacheBigoton/v17/.suo
.vs/MapacheBigoton/v17/DocumentLayout.backup.json
.vs/MapacheBigoton/v17/DocumentLayout.json
.vs/ProjectEvaluation/mapachebigoton.metadata.v9.bin
.vs/ProjectEvaluation/mapachebigoton.projects.v9.bin
.vs/ProjectEvaluation/mapachebigoton.strings.v9.bin
